<div class="users-container">
  <div class="profile">

    <h3><%= @user.username %></h3>
    <p>
      <b>Email:</b>
      <%= @user.email %> <br><br>
    </p>

    <p>
      <%= link_to "Edit", edit_user_path(@user) %>
    </p>
    <p>
      <%= button_to "Delete", @user, :method => :delete, :class => 'submit' %>
    </p>

  </div>
</div>
