// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styles for all posts pages
.posts-page {
  width: 100%;
  margin-top: 20px;
}

.posts-page a {
  color: #7BFFC8;
}

.posts-page a:hover {
  color: #333;
}

// Styles for posts/index & posts/show
.show-posts {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

h3, h4, p {
  margin: 10px 10px 0px 10px;
}

// Styles for posts/new & posts/edit
.submit-post {
  width: 60%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #333;
  padding: 10px;
}

// Form styles
form {
  margin: 20px;
}

.title, .content {
  width: 350px;
  margin-top: 15px;
  font-size: 1em;
}

.content {
  height: 200px;
}

.submit {
  border: 1px solid #333;
  background-color: transparent;
  font-size: 1em;
  padding: 10px;
}

.submit:hover {
    background-color: #7BFFC8;
    cursor: pointer;
}
// End form styles

// Comment styles
.each-comment{
  border: 1px solid #333;
  margin: 20px;
  padding: 10px;
}
