// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-pages{
  width: 100%;
}

.users-pages a {
  color: #7BFFC8;
}

.users-pages a:hover {
  color: #333;
}

.login-box {
  width: 40%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #333;
  padding: 10px
}

// Form styles
form {
  margin: 20px;
}

.username, .password {
  width: 350px;
  margin-top: 15px;
  font-size: 1em;
}

.submit {
  border: 1px solid #333;
  background-color: transparent;
  font-size: 1em;
  padding: 10px;
}

.submit:hover {
    background-color: #7BFFC8;
    cursor: pointer;
}
