// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-container{
  width: 100%;
}

.users-container a {
  color: #7BFFC8;
}

.login {
  width: 40%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #333;
  padding: 10px
}

h3 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

form {
  margin: 20px;
}

.username, .password {
  width: 350px;
  margin-top: 15px;
  font-size: 1em;
}

.submit {
  border: 1px solid #333;
  background-color: transparent;
  font-size: 1em;
  padding: 10px;
}

.submit:hover {
    background-color: #7BFFC8;
    cursor: pointer;
}
